[2020-03-11 17:53] sophia-guo opened #5 "Add more specific workflow examples"
We'd like to add some workflow examples for each specific scenario. This way developers can easily pick specific workflow, run the action and focus on their coding job.

One solution is adding each example as comment part of https://github.com/AdoptOpenJDK/run-aqa/blob/master/.github/workflows/test.yml.

Or each example as a separate file under https://github.com/AdoptOpenJDK/run-aqa/blob/master/.

[2020-03-11 18:11] sophia-guo opened #6 "Upload test output using wildcards"
If run-aqa fails we'd like to upload all test output for debug.  Test output are current generated by timestamp as openjdk-tests/TKG/test_output_****(timestamp) https://github.com/AdoptOpenJDK/TKG/blob/master/settings.mk#L181

[actions/upload-artifact](https://github.com/actions/upload-artifact/) doesn't support wildcards right now https://github.com/actions/upload-artifact/issues/11

Our workarou

[2020-03-11 18:23] sophia-guo opened #7 "run-aqa action on github hosted windows runners"
We'd like that run-aqa action be enabled on github-hosted windows runners. That is we'd like cygwin installed on windows runners. Current  [ software installed on GitHub-hosted windows runners](https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md)

[2020-03-23 21:20] sophia-guo commented on #6
Looks like its been fixed https://github.com/actions/upload-artifact/issues/11#issuecomment-598812156. However I tried and didn't look like it's been fixed.

https://github.com/sophia-guo/runaqaTest/runs/528770263?check_suite_focus=true

Wait for v2 and see if it's fixed.

[2020-03-23 21:26] sophia-guo commented on #6
My bad it actually works. https://github.com/sophia-guo/runaqaTest/runs/528782664?check_suite_focus=true

Will wait v2 released and then close this one. Also update README.md with using actions/upload-artifact@v2

[2020-04-22 20:33] sophia-guo commented on #5
move the issue to https://github.com/AdoptOpenJDK/openjdk-tests/issues/1729

[2020-04-22 20:33] #5 closed

[2020-04-24 14:06] sophia-guo opened #13 "support customize repo and branch"
The current version is using [AdoptOpenJDK/openjdk-tests](https://github.com/AdoptOpenJDK/openjdk-tests.git) as default repo to run AQA tests. For AdoptOpenJDK/openjdk-tests contributors it's better to support personal repo and feature branch for a PR build.

Run-aqa `git clone` `AdoptOpenJDK/openjdk-tests` and `AdoptOpenjdk/TKG`. Enable this `run-aqa` can be also run against those two repos' pers

[2020-04-24 14:25] sophia-guo commented on #13
A boolean value on whether the personalRepo should be used could be added.

If false, using default `AdoptOpenJDK/openjdk-tests`. Otherwise using PR's github environment variable to get user's repo and branch. ( no need for users to input those information)

[2020-04-24 21:05] sophia-guo opened #15 "Mac issue"
Looks like there is mac java issue again with install-jdk fixed the mac issue. Placeholder so it wont' be forgotten.

[2020-04-28 12:04] sophia-guo commented on #13
There are cases that user would like to set both [openjdk-test](https://github.com/AdoptOpenJDK/openjdk-test) and [TKG](https://github.com/AdoptOpenJDK/TKG) .  Then https://github.com/AdoptOpenJDK/run-aqa/issues/13#issuecomment-619042722 won't work for this. Should we also support the user case by setting both [openjdk-test](https://github.com/AdoptOpenJDK/openjdk-test) and [TKG](https://github.co

[2020-04-28 13:58] smlambert commented on #13
Yes, if we have learned anything from Grinders, people want both the flexibility to change absolutely every piece of what could be used by testing to point to their own branch (which includes openjdk-tests, jdk-jdk{Version}u, TKG, STF, openjdk-systemtest, openj9-systemtest, openj9, etc), but they also want it to be simple.  ( insert fatigued laugh by @smlambert here ;) ).

I have been thinking abo

[2020-04-28 15:45] sophia-guo commented on #13
Current [openjdk-tests](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/build.xml) don't support personal repo (either for hotspot or for openj9) . I will open an issue in openjdk-tests.

[2020-04-28 16:05] smlambert commented on #13
Thanks @sophia-guo, I was aware that the current openjdk-tests do not support personal repo at the moment for jdk-jdk{Version}u items, but I actually think we should move it out to be a full-fledged parameter for several reasons:
-  especially now with openjdk project Skara means many openjdk developers may have their own GitHub fork/branches)

- simplifies the current openjdk/build.xml logic, as

[2020-04-28 17:52] sophia-guo commented on #13
Yes, current all those repos information was scattered many different place and most of time they are exported environment variable to make them visible. I was thinking it's not a good way. Agree that we should do some change!

[2020-05-12 14:39] sophia-guo commented on #15
Looks like it's the environmental issue. Can't reproduce. https://github.com/sophia-guo/run-aqa/runs/667150744?check_suite_focus=true

[2020-05-12 14:39] #15 closed

[2020-05-13 19:47] sophia-guo commented on #6
Close it as issue in action closed  https://github.com/actions/upload-artifact/issues/11#issuecomment-598812156

[2020-05-13 19:47] #6 closed

[2020-05-19 17:10] #7 closed

[2020-06-04 20:04] sophia-guo opened #19 "Install dependencies only when it's unavailable"
The current story is installing dependencies as long as they aren't preinstalled on github action virtual machines.  When combined with other actions those dependencies may be installed by other actions or pre-steps. We'd like to add a step to check if the dependency is available. This might also work better with the story of cache dependencies.
https://help.github.com/en/actions/configuring-and-m

[2020-07-14 14:05] sophia-guo commented on #13
Close in favour of https://github.com/AdoptOpenJDK/openjdk-tests/issues/1873

[2020-07-14 14:05] #13 closed

[2020-07-14 14:07] sophia-guo commented on #19
Closed by https://github.com/AdoptOpenJDK/run-aqa/pull/20

[2020-07-14 14:07] #19 closed

[2020-07-14 14:52] sophia-guo opened #22 "Caching dependencies to speed workflows"
Run-aqa on windows depends on the installation of cygwin and corresponding packages installed by cygwin.

Jobs on GitHub-hosted runners start in a clean virtual environment and must download dependencies each time, causing increased network utilization, longer runtime, and increased cost. To help speed up the time it takes to recreate these files, GitHub can cache dependencies you frequently use i

[2020-07-25 16:11] smlambert opened #24 "Nightly test failures to investigate"
Now that nightlies are running as part of a recent addition of some workflows, we have to triage and clean up the runs:

https://github.com/AdoptOpenJDK/run-aqa/actions/runs/181650277

I've created https://github.com/eclipse/openj9/issues/10227 for the failures relating to that, but there are other types of failures in the nightly build that need to be looked at.

FYI @sophia-guo can you please he

[2020-07-27 15:00] sophia-guo commented on #24
openj9, functional, 8|11|14, ubuntu | mac failures are related with native tests. Test against nightly build from AdoptOpenJDK, which doesn't include native libs. To avoid this I will update target to `_sanity.regular`

[2020-07-27 15:57] sophia-guo commented on #24
hotspot, openjdk, 14, ubuntu | mac , jdk_foreign_0 failure is similar to the above comment, due to missing testimages. Will update playlist to make sure the tests belong to  `<type>native</type>`

[2020-07-27 18:10] sophia-guo commented on #24
re https://github.com/AdoptOpenJDK/run-aqa/issues/24#issuecomment-664482494

There is only one test java/foreign/TestNative.java depends on the testimages. If we add `<type>native</type>` the whole test jdk_foreign_0 won't be able to run in run-aqa nightly run. ( though adoptOpenJDK nightly run won't be affected as target sanity.openjdk is used)

[2020-07-27 18:21] smlambert commented on #24
hmm, we could do as Pete has done for other tests ([example](https://github.com/AdoptOpenJDK/openjdk-tests/pull/1845)), where the individual test gets excluded, then it gets its own test target where it gets run without referencing the excludes problem list.  Not sure if this is a good pattern for the long-term though.

[2020-07-27 20:23] sophia-guo commented on #24
TEST: java/util/Locale/LocaleCategory.java failed with jdk_util_j9: ubuntu, openj9, 11 |14
TEST: java/util/zip/ZipFile/TestCleaner.java error with jdk_util_j9, ubuntu, openj9, 11

Looking at ...
TEST: java/util/Locale/LocaleCategory.java failed in 14.
java/util/zip/ZipFile/TestCleaner.java error,

TEST: java/util/Locale/LocaleCategory.java failed in 14.

[2020-07-27 20:27] smlambert commented on #24
TestCleaner has failed in other runs too, see https://github.com/eclipse/openj9/issues/8872

also see https://github.com/eclipse/openj9/issues/9042, though it was not reproducible in the report.

[2020-07-27 20:56] sophia-guo commented on #24
Window issue related with cygwin not installed at all, need to looking into the reason.

[2020-07-28 14:27] sophia-guo commented on #24
The tip of v1 release is https://github.com/AdoptOpenJDK/run-aqa/pull/17, which doesn't include cygwin supports. Update v1 release with master, which includes enable windows runner and https://github.com/AdoptOpenJDK/run-aqa/pull/25.

Native tests issue and windows issue should be fixed by this new release.

[2020-07-28 15:12] sophia-guo commented on #24
Macos, hotspot, 8, jdk_jdi failed 90, looks like all are

[code]

[2020-07-28 15:30] sophia-guo commented on #24
Ubuntu, 8, openj9, functional:
testJITServer_1 Failed:

[code]

[2020-07-28 15:33] sophia-guo commented on #24
Ubuntu, 8, openj9, functional
cmdLineTester_SCCommandLineOptionTests_1 failed:

[code]

[2020-07-28 20:33] sophia-guo commented on #24
Ubuntu | Macos, openj9, jdk11 |14 jvmnativestest_0, looks like it's native test, need to double check.

[code]

[2020-07-28 20:35] sophia-guo commented on #24
Ubuntu,  jdk11, openj9, fucnitonal, testJITServer_0 segment fault"

[code]

[2020-07-28 20:40] sophia-guo commented on #24
Macos, openj9, functional, jdk8:

cmdLineTester_callsitedbgddrext_openj9_0

[code]

[2020-07-28 20:43] sophia-guo commented on #24
Macos, openj9, functional, jdk8:

testSCCMLTests1_openj9_1:

[code]

[2020-07-28 20:44] sophia-guo commented on #24
Macos, openj9, functional, jdk8::

cmdLineTester_CryptoTest_0

[code]

[2020-07-28 20:49] sophia-guo commented on #24
Macos, openj9, functional, jdk11

SCURLClassLoaderNPTests_1

[code]

[2020-07-28 20:53] sophia-guo commented on #24
Recorded all failure with ubuntu and macos. Will triage later.

Will wait new run with windows and see how it goes.

[2020-07-29 15:55] sophia-guo commented on #24
Windows, jdk11, openjdk, hs|openj9:
 java/lang/ProcessBuilder/checkHandles/CheckHandles.java is a native test. Will do as same as before https://github.com/AdoptOpenJDK/run-aqa/issues/24#issuecomment-664560294

[2020-07-29 21:21] sophia-guo commented on #24
All windows issues updated.

[2020-07-31 02:54] smlambert opened #26 "JDK_VERSION update in nightly testing"
Now that jdk14 is done, we should run jdk15 testing in nightlies

[2020-07-31 08:18] #26 closed

[2020-09-30 16:17] sophia-guo opened #30 "Test failures"
Go through all test failures:

- [ ] 1. TestJlmRemoteMemoryAuth_0 on build ubuntu-latest, 8, hotspot, system.

- [ ] 2. cmdLineTester_SCCommandLineOptionTests_1 on ubuntu-latest, 8, openj9, functional

[2020-09-30 16:20] sophia-guo commented on #30
1. TestJlmRemoteMemoryAuth_0 on build ubuntu-latest, 8, hotspot, system.  same behaviour on AdoptOpenJDK:
   https://ci.adoptopenjdk.net/view/all/job/Test_openjdk8_hs_sanity.system_x86-64_linux/
   Last successful is https://ci.adoptopenjdk.net/view/all/job/Test_openjdk8_hs_sanity.system_x86-64_linux/510/

  similar issue opened https://github.com/AdoptOpenJDK/openjdk-tests/issues/1903

[2020-09-30 19:08] sophia-guo commented on #30
duplicate of #24

[2020-09-30 19:08] #30 closed

[2020-09-30 19:36] sophia-guo commented on #24
Latest failures update:

- [ ]  1. TestJlmRemoteMemoryAuth_0 on build ubuntu-latest, 8, hotspot, system.

        TestJlmRemoteMemoryAuth_0 on build ubuntu-latest, 8, hotspot, system. same behaviour on AdoptOpenJDK:
https://ci.adoptopenjdk.net/view/all/job/Test_openjdk8_hs_sanity.system_x86-64_linux/
Last successful is https://ci.adoptopenjdk.net/view/all/job/Test_openjdk8_hs_sanity.system_x86-64_

[2020-10-06 20:42] sophia-guo commented on #24
rerun  java/util/Locale/LocaleCategory.java on ubuntu against openj9 and hotspot in AdoptOpenJDK both showing LANG=en_US.UTF-8 and passed.
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/grinder_sandbox/106/console
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/grinder_sandbox/105/console

rerun in github action, and shows LANG=en_US.UTF-8 and passed. ( ignore the action statu

[2020-10-22 19:27] sophia-guo opened #35 "'git clone' hit the issue 'Windows Subsystem for Linux has no installed distributions' on 'windows latest' runner"
Running system test | openjdk test hit the issue 'Windows Subsystem for Linux has no installed distributions' on github action runner window latest(2019).

[code]

[code]

No issue with window 2016.
https://github.com/sophia-guo/runaqaTest/runs/1294264272?check_suite_focus=true

Some suggestion: https://stackoverflow.com/questions/44829878/trying-to-use-bash-on-windows-and-got-no-installed-distrib

[2020-10-22 20:03] sophia-guo commented on #35
Main difference between windows 2019 and windows 2016 runners:

1. OS Version :     10.0.17763  ---   10.0.14393
2. Visual Studio:           2019    ---     2017

[2020-10-27 13:43] sophia-guo commented on #35
The behaviour is doing command `git clone`   by the action will hit the issue.
@d3r3kk Do you have any idea about this? Thanks.

[2020-11-05 01:56] smlambert opened #37 "New functional test defaultLazySymbolResolution fails to compile for JDK_IMPL=hotspot"
https://github.com/AdoptOpenJDK/run-aqa/runs/1354982487?check_suite_focus=true#step:4:1651

BUILD FAILED
/home/runner/work/run-aqa/run-aqa/openjdk-tests/TKG/scripts/build_test.xml:58: The following error occurred while executing this line:
/home/runner/work/run-aqa/run-aqa/openjdk-tests/functional/build.xml:52: The following error occurred while executing this line:
/home/runner/work/run-aqa/run-a

[2020-11-05 02:06] smlambert commented on #37
FYI @llxia

[2020-11-05 02:28] smlambert opened #38 "DaaLoadTest_daa2 and DaaLoadTest_daa2_ConcurrentScavenge fails (jdk8/j9)"
https://github.com/AdoptOpenJDK/run-aqa/runs/1354982540?check_suite_focus=true#step:4:16847

https://github.com/AdoptOpenJDK/run-aqa/runs/1354982540?check_suite_focus=true#step:4:17670

DLT class net.openj9.test.binaryData.TestLong2ByteArrayNumBytes Total: 51 Fail: 1 Ignore: 0
DLT 	FAILURE: testValidIndexForFourNumBytes(net.openj9.test.binaryData.TestLong2ByteArrayNumBytes) - arrays first differed

[2020-11-05 02:34] smlambert opened #39 "cmdLineTester_SCCommandLineOptionTests_1 fail (jdk8,11,15/j9)"
https://github.com/AdoptOpenJDK/run-aqa/runs/1354982566?check_suite_focus=true#step:4:50735
Testing: Run !printallcallsites
Test start time: 2020/11/04 21:36:14 Coordinated Universal Time
Running command: /opt/hostedtoolcache/jdk-8-openj9/1.0.0/x64/bin/jdmpview -core j9core.dmp
Time spent starting: 2 milliseconds
Time spent executing: 689 milliseconds
Test result: FAILED
Output from test:
 [OUT] D

[2020-11-05 14:32] llxia commented on #37
`cmdLineTester_defaultLazySymbolResolution` uses `VM_Test ` and `VM_Test ` only compiles when JDK_IMPL= openj9 or ibm. We should update [defaultLazySymbolResolution/build.xml](https://github.com/eclipse/openj9/blob/40f5a96154580755c3bc252241c17a77c5d6d35a/test/functional/cmdLineTests/defaultLazySymbolResolution/build.xml) to skip in hotspot case. Simliar to https://github.com/eclipse/openj9/blob/4

[2020-11-06 14:35] llxia commented on #37
PR https://github.com/eclipse/openj9/pull/11115 is merged. Close this issue. If the problem still exists, please reopen.

[2020-11-06 14:35] #37 closed

[2020-11-10 15:14] sophia-guo opened #40 "JEP358NPEMessageTests_0 and JEP358NPEMessageTests-noDebugInfo_0 can't find testng.xml"
JEP358NPEMessageTests_0 and JEP358NPEMessageTests-noDebugInfo_0 failed as:

[code]
 at https://github.com/AdoptOpenJDK/run-aqa/runs/1376392753?check_suite_focus=true

The reason is Java14andUp has been set only building for `openj9` and `ibm` in build.xml. Hence no tests under this folder should be run by other `impl`.  Test should be limited to

[code]

@llxia please confirm if all tests under Ja

[2020-11-10 20:13] llxia commented on #40
@JasonFengJ9 are JEP358NPEMessageTests and JEP358NPEMessageTests-noDebugInfo openj9 and ibm specific test?

[2020-11-10 21:03] JasonFengJ9 commented on #40
@llxia yes, these two tests apply to `OpenJ9` & `IBM`, not other implementations.

My understanding is that the test needs `<impls>` only if it applies to `openj9` or `ibm` (IBM is here for historical reason), if the test is for both, then there is no `<impls>` required.
I understand that `AQA` test framework supports broader JVM families, and need to know the implementation restrictions. However

[2020-11-10 21:21] JasonFengJ9 commented on #40
Created https://github.com/eclipse/openj9/pull/11146.

[2020-11-10 22:10] llxia commented on #40
Thanks @JasonFengJ9 for the PR.

The current behavior is that if `<impls>` is not provided, then it defaults to all JVM.

IMHO, having the AQA/TKG framework to assume the default supported JVM for tests complicates the story. Instead of the test explicitly determines its supported JVM, it adds one more hidden layer to make this decision (in a different repo). It means a map of git repo to `<impls>

[2020-11-10 23:22] JasonFengJ9 commented on #40
@llxia totally understandable, the framework works well if each test provides concrete `<impls>` restrictions or no `<impls>` if the test applies to all JVMs.
Honestly I didn't have other JVMs in mind when writing those tests, not sure if that should be a requirement. A quick search in `OpenJ9` repo shows that only handful of tests don't have `<impls>`, i.e., default to all JVMs. In another word,

[2020-11-10 23:38] smlambert commented on #40
Understandable that you did not consider the tests to be applicable to other implementations, but in many cases openj9 test material could be applicable (if we take care of openj9 specific JVM_OPTIONS).

AQA harnesses tests from openjdk, and from many many [external](https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/external) (3rd party applications and frameworks) and [perf](https://githu

[2020-11-10 23:48] JasonFengJ9 commented on #40
Good point, so `AQA` is going to consume `OpenJ9` tests regardless `<impls>` restrictions unless otherwise specified.

I think this is the actual root cause, there is no need to limit the test build to its own implementation. The test can be be built for all JVMs, and `AQA` framework will decide if it can be run.

[2020-11-10 23:50] JasonFengJ9 commented on #40
https://github.com/eclipse/openj9/pull/11146 can fix this issue (in different way). I am not going to modify the build script in this PR.

[2020-11-27 22:23] sophia-guo commented on #40
Fix in eclipse/openj9#11146. Close this one.

[2020-11-27 22:23] #40 closed

[2020-11-27 22:30] sophia-guo opened #42 "Functional tests compiling errors when running against target floatSanityTests."
Functional tests compiling errors when running against target floatSanityTests, which is noticed when running PR tests. Nightly build don't have this issue.

https://github.com/AdoptOpenJDK/run-aqa/actions/runs/385922131

[code]

Functional tests compiling errors when running against target floatSanityTests.

[2020-11-30 20:04] sophia-guo commented on #42
The job was triggered by test.yml, which is used to test the run-aqa action PR correctness. Hence try to use the stable jdk( releases instead of nightly) and simple | typical tests in each category.

queryDumpOptions()  was added after latest releases hence using the release jdk will hit the compiling error.

Will update to use nightly jdk instead.

[2020-11-30 20:43] sophia-guo commented on #38
Closed. The fix was in https://github.com/AdoptOpenJDK/openjdk-systemtest.

[2020-11-30 20:43] #38 closed

[2020-11-30 20:49] sophia-guo opened #44 "Errors when running tests by github runner's default jdk on Windows"
Errors when running tests by github runner's default jdk on Windows

`Target "Files/Java/jdk-11.0.9+11" does not exist in the project "Build tools" when `

https://github.com/AdoptOpenJDK/run-aqa/runs/1459646863?check_suite_focus=true

Believe it's related with the way to pass in TEST_JDK_HOME parameter on Windows.

[2020-11-30 20:53] #42 closed

[2020-12-01 17:08] sophia-guo commented on #44
The reason is TEST_JDK_HOME is set as C:/Program Files/Java/jdk-11.0.9+11, which include a space. We can set TEST_JDK_HOME with single quote  'TEST_JDK_HOME=C:/Program Files/Java/jdk-11.0.9+11', which can fix this compiling error. However when we run the test with java command https://github.com/AdoptOpenJDK/TKG/blob/master/settings.mk#L159 (defined by double quote) , will get:

[code]
https://git

[2020-12-01 22:14] sophia-guo commented on #39
Looks like cmdLineTester_callsitedbgddrext_openj9 passed in recent running. https://github.com/AdoptOpenJDK/run-aqa/runs/1476255594?check_suite_focus=true#step:4:33468. Not sure if it's intermittent or fixed.

[2020-12-01 22:23] smlambert commented on #39
Updating this issue to remove cmdLineTester_callsitedbgddrext_openj9 from the heading.  That test was failing consistently a few weeks ago, but has not failed for a while.  I do not see an obvious PR/fix that would change behaviour, but we can raise it as a separate issue if its turned into something intermittent.

[2020-12-02 03:52] sophia-guo commented on #44
Instead of changes in  [TKG](https://github.com/AdoptOpenJDK/TKG) we can just shorten the path name with spaces.

[2020-12-04 18:24] sophia-guo opened #46 "Create codeql-analysis.yml"
It should be good to recreate codeql-analysis.yml as #44 #42 are fixed if needed.

@karianna FYI.

[2020-12-04 18:27] karianna commented on #46
Given it another go, let's see

[2020-12-04 18:50] #46 closed

[2020-12-07 19:09] sophia-guo commented on #39
Update cmdLineTester_SCCommandLineOptionTests_1 failures on linux with jdk8/11/15 ( Original one is the failure of cmdLineTester_callsitedbgddrext_openj9):

Testing: nameOption2
Test start time: 2020/12/02 20:42:49 Coordinated Universal Time
Running command: sh nameOption2.sh /opt/hostedtoolcache/jdk-8-openj9/1.0.0/x64/bin
Time spent starting: 1 milliseconds
Time spent executing: 272 milliseconds

[2020-12-07 19:21] sophia-guo opened #47 "Build failures doubled compared with the build 5 day's ago"
Today's build failures increased from 16 to 27, which is a big difference. Need to see the reason.

https://github.com/AdoptOpenJDK/run-aqa/actions/runs/401487337

https://github.com/AdoptOpenJDK/run-aqa/actions/runs/396934871

[2020-12-07 20:47] sophia-guo opened #48 "java/util/concurrent/forkjoin/AccessControlContext.java got `java.security.AccessControlException: access denied with linux hotspot jdk8"
java/util/concurrent/forkjoin/AccessControlContext.java got java.security.AccessControlException: access denied with a few recent linux jdk. Same for hotspot or openj9 implementation. For example : https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2020-12-02-12-32/OpenJDK8U-jdk_x64_linux_hotspot_2020-12-02-12-32.tar.gz

https://github.com/AdoptOpenJDK/openjdk8-binaries/rele

[2020-12-07 21:07] sophia-guo commented on #48
Test passed with  https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2020-12-02-12-32/OpenJDK8U-jdk_x64_linux_hotspot_2020-12-02-12-32.tar.gz in https://github.com/AdoptOpenJDK/run-aqa/runs/1488766591?check_suite_focus=true, but failed in grinder https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox/159/console, which probably means it's an intermittent failu

[2020-12-07 21:12] sophia-guo commented on #47
- [ ] sanity (ubuntu-latest, 8, openj9, openjdk) see #48

- [ ] sanity (ubuntu-latest, 8, hotspot, openjdk) See #48

[2020-12-07 22:16] sophia-guo commented on #48
Run 100* with latest nightly https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox/160/ test passed. So it should be an intermittent failure for a few recent jdks only.

[2020-12-09 22:20] sophia-guo opened #49 "functional test: Jep334Tests_0 ( jdk12+) fails with hotspot jdk 15 on all github runners"
Jep334Tests_0 fails with hotspot jdk 15 on all github runners.

5 tests failed with same reason:
[code]

https://github.com/AdoptOpenJDK/run-aqa/runs/1519924365?check_suite_focus=true

Reproduced in Adopt Grinder: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox/166/

Question: Do those tests work for hotspot?

[2020-12-10 14:59] sophia-guo commented on #48
The failure didn't show up with recent nightly builds. Close it for now.

[2020-12-10 15:00] #48 closed

[2020-12-10 21:54] sophia-guo opened #50 "cmdLineTester_callsitedbgddrext_openj9 fail with jdk8,11,15 on linux and Macos"
https://github.com/AdoptOpenJDK/run-aqa/runs/1526577429?check_suite_focus=true

The failure happened before. Looks like an intermittent one.

Testing: Run !printallcallsites
Test start time: 2020/12/09 21:47:46 Coordinated Universal Time
Running command: /opt/hostedtoolcache/jdk-11-openj9/1.0.0/x64/bin/jdmpview -core j9core.dmp
Time spent starting: 2 milliseconds
Time spent executing: 1546 millise

[2020-12-10 21:55] sophia-guo commented on #39
cmdLineTester_callsitedbgddrext_openj9 reopened in #50

[2020-12-10 22:27] sophia-guo commented on #39
Test nameOption2 and nameOption4 get the username from the environment variable LOGNAME
`export TESTUSER=$LOGNAME`

to match the shared Cache generated by NAME=_%u.

In github runner ubuntu environment _%u is runner and $LOGNAME turns out be empty ( github runner macos $LOGNAME  is runner, so test passes with macos).

This actually should also affect test nameOption, which set DEFAULT_CACHE_NAME="

[2020-12-10 22:58] smlambert commented on #50
Removing bug label, as that would indicate there is a defect in the run-aqa repo (yet TBD).

Same issue is seen in newly added OpenJ9 Jenkins _cm builds (mentioned today in their [general Slack channel](https://openj9.slack.com/archives/C8312LCV9/p1607532450200200)), may be related to a recent change https://github.com/eclipse/openj9/pull/11085

[2020-12-11 16:09] sophia-guo commented on #39
LOGNAME is not in the Ubuntu GitHub Actions Environment Variables List. Instead RUNNER_USER is the environment for the user runner. There’s always a chance that the list will get outdated as soon as a new container is configured. We will put a warning if it happens and update our fixes.

[2020-12-11 16:36] sophia-guo opened #52 "cmdLineTester_loadLibraryTests_0 fail ( jdk8, 11, 15 with hotspot on windows)"
Test is limited on windows. And fail with hotspot jdk8, 11, 15)

https://github.com/AdoptOpenJDK/run-aqa/runs/1533291962?check_suite_focus=true

[code]

Same failures in AdoptOpenjdk jenkins:
https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk8_hs_sanity.functional_x86-64_windows/51/console
https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk11_hs_sanity.functional_x86-6

[2020-12-11 16:38] sophia-guo commented on #49
Same failures in AdoptOpenjdk jenkins:
https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk15_hs_sanity.functional_x86-64_windows/31/console
https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk15_hs_sanity.functional_x86-64_linux/34/console
https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk15_hs_sanity.functional_x86-64_mac/34/console

[2020-12-11 17:14] sophia-guo opened #53 "Tests loadLegacyLibrary and testXXArgumentTesting_0 isn't running"
Tests loadLegacyLibrary and testXXArgumentTesting_0 aren't running in run-aqa action, while they are running in AdoptOpenjdk jenkins:

https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk15_hs_sanity.functional_x86-64_mac/30/console
https://github.com/AdoptOpenJDK/run-aqa/runs/1533291581?check_suite_focus=true

[2020-12-11 17:16] sophia-guo commented on #53
Both tests use <platformRequirements> tag to limit to specific platform.

In Jenkins build SPEC is set by jenkins file, which is missed by run-aqa. Believe this should be fixed by add SPEC setting

[2020-12-11 17:48] #39 closed

[2020-12-11 20:21] sophia-guo commented on #50
re-run in Adopt jenkins test passed:
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox/168/

re-run 20 times. : https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox/171/console

[2020-12-11 20:53] sophia-guo commented on #50
Adopt Mac build does have same issue: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.functional_x86-64_mac/51/consoleFull

[2020-12-11 21:55] #53 closed

[2020-12-11 22:45] sophia-guo commented on #52
This is a testcase issue. The failure is due to the different implementation of the  UnsatisfiedLinkError message.

Hotspot  is like:

[code]
while openj9 message is like:

[code]

 We will need to  add another success case in https://github.com/eclipse/openj9/blob/master/test/functional/cmdLineTests/loadLibraryTest/loadLibraryTest.xml#L37

[code]

or disable the test with impl=hotspot

@smlambert

[2020-12-11 23:51] smlambert commented on #52
I guess for now we must disable it.  I would like to find a way where we optimize the use of functional tests for both implementations, but that will be a major endeavour and not for us to deal with in the short-term.

[2020-12-12 19:17] sophia-guo commented on #52
https://github.com/eclipse/openj9/issues/11470

[2020-12-14 15:41] sophia-guo commented on #47
Close this as all issues have been triaged.

[2020-12-14 15:41] #47 closed

[2020-12-14 16:58] sophia-guo opened #55 "testSCCMLTests1_openj9_1 fails with openj9, jdk8 | jdk 11 | jdk15 on Macos"
https://github.com/AdoptOpenJDK/run-aqa/runs/1539658923?check_suite_focus=true

[code]
8 out of 87 have two different error. One is **Could not create the Java Virtual Machine** and the second one is JVMSHRC023E Cache does not exist due to the first error.

[2020-12-14 17:20] sophia-guo commented on #55
This only happens to github runners. It looks like the AdoptOpenJDK mac setting as:

[code]
My local mac has the same issue with lower shmmax:

[code]

Tested in my local mac:
Tried to increase the shmmax to 536870912 and got **JVMSHRC337E Platform error message: shmget : Cannot allocate memory
JVMSHRC029E Not enough memory left on the system** . If lower it and got **JVMSHRC337E Platform error me

[2020-12-14 22:24] sophia-guo commented on #55
Tried with github runner with
sudo sysctl -w kern.sysv.shmmax=536870912 and got 'Not enough memory left on the system'

https://github.com/sophia-guo/runaqaTest/runs/1553337834?check_suite_focus=true

and with
sudo sysctl -w kern.sysv.shmmax=268435456 and got 'Cannot create cache of requested size: Please check your SHMMAX and SHMMIN settings'
https://github.com/sophia-guo/runaqaTest/runs/15533295

[2020-12-14 22:38] sophia-guo commented on #55
It turns out both  kern.sysv.shmall and kern.sysv.shmmax need to be updated to a large one.

[2020-12-15 00:29] smlambert commented on #55
This could fall into the category of tests that have platformRequirements, that should be skipped if certain MachineInfo checks do not satisfy the conditions.

[2020-12-15 00:49] #55 closed

[2020-12-15 01:11] sophia-guo opened #57 "cmdLineTester_CryptoTest fails fails ( jdk8 with openj9 on mac)"
https://github.com/AdoptOpenJDK/run-aqa/runs/1539658923?check_suite_focus=true

[code]

Same failures on AdoptOpenJDK jenkins:
https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk8_j9_sanity.functional_x86-64_mac/54/console

[2020-12-15 14:48] sophia-guo commented on #49
@theresa-m do you have idea if those tests work with hotspot impl?

[2020-12-15 17:12] sophia-guo commented on #57
This only happens to jdk8 on mac in AdoptOpenjdk and run-aqa. @pshipton any idea about this?

[2020-12-15 17:19] sophia-guo opened #58 "SCURLClassLoaderNPTests fails with jdk 11|15, openj9, mac."
SCURLClassLoaderNPTest fails with jdk 11 |15, openj9, mac whit **Number of FAILED tests: 32 out of 45**.

https://github.com/AdoptOpenJDK/run-aqa/runs/1539659060?check_suite_focus=true

[code]

Similar to failure in #55 , which should be resolved by #56

[2020-12-15 17:20] sophia-guo commented on #58
@smlambert there are  a few update about run-aqa, which should resolve some test failures and enable more tests. Could we release a new version and update v1 with the new release?

[2020-12-15 17:28] smlambert commented on #58
Yes, makes sense to release a new version.  Are all updates in?  I can release something later tonight.

[2020-12-15 17:37] sophia-guo commented on #58
No rush. Only to make current run-aqa nightly workflow clear.

[2020-12-15 17:41] sophia-guo commented on #57
Would like to run a grinder in openj9 jenkins( which could grab nightly sdk from AdoptOpenjdk) to see if it fails. If passes probably a machine configure issue if fails there would be build difference between adoptopenjdk and openj9? ( as it passes in openj9 nighlty jenkins).

[2020-12-15 18:30] pshipton commented on #57
For the crypto test to pass you need to enable and bundle openssl. Are you use the following options?

get_source.sh option `--openssl-version=1.1.1i`
configure optinos: `--with-openssl=fetched --enable-openssl-bundling`

[2020-12-15 18:37] pshipton commented on #57
Fails on Adopt build as well https://ci.eclipse.org/openj9/view/Test/job/Grinder/1284

[2020-12-15 19:23] sophia-guo commented on #57
We are using the nightly jdk from AdoptOpenjdk. From the build job I can see that for jdk11 and up the build use configuration `--with-openssl=fetched --enable-openssl-bundling`
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9/851/consoleFull

While for  jdk8 looks like it's built without that configure options:
https://ci.adoptopenjdk.net/job/build-scrip

[2020-12-15 19:58] pshipton commented on #57
It's wrong. I've opened an issue https://github.com/AdoptOpenJDK/openjdk-build/issues/2309

[2020-12-15 20:39] theresa-m commented on #49
I ran these manually against a jdk12 hotspot build from Mar 22, 2019 just after the Java 12 release and those tests also fail so this is not a recent regression.

Since these are jcl tests ideally the two vms should both pass. I will do some more investigating to see if there's a good argument for disabling these tests.

[2020-12-15 22:07] sophia-guo commented on #49
There may not be an easy way to disable these specific tests per impl. Probably can only disable the whole test class in playlist.xml by impl.

[2020-12-16 15:43] sophia-guo commented on #58
@smlambert Forgot I have permission in this repo. I updated. Thanks!

[2020-12-16 17:29] sophia-guo opened #59 "TEST: java/util/Locale/LocaleCategory.java failed with jdk_util_j9: ubuntu, openj9, 11 |15"
Test failed:

https://github.com/AdoptOpenJDK/run-aqa/issues/24#issuecomment-704541362

[code]

Initial investigation:
https://github.com/AdoptOpenJDK/run-aqa/issues/24#issuecomment-664620459
https://github.com/AdoptOpenJDK/run-aqa/issues/24#issuecomment-704541362

[2020-12-16 17:34] sophia-guo opened #60 "jdk_math_j9_0 fails with jdk11, openj9 on window"
https://github.com/AdoptOpenJDK/run-aqa/issues/24#issuecomment-664620459jdk_math_j9_0

[code]

https://github.com/AdoptOpenJDK/run-aqa/runs/1552959308?check_suite_focus=true

[2020-12-16 17:38] sophia-guo opened #61 "jdk_lang_0 java/lang/ProcessBuilder/checkHandles/CheckHandles.java fails with hotspot|openj9 jdk15 on windows"
https://github.com/AdoptOpenJDK/run-aqa/runs/1559739592?check_suite_focus=true

[code]

Looks like a new native tests, which should be disabled.

[2020-12-16 17:40] sophia-guo commented on #24
All existing failures have been either fixed or addressed in separate issues. Close this now.

[2020-12-16 17:40] #24 closed

[2020-12-17 13:11] sophia-guo opened #62 "All functional tests builds with openj9 fail"
The error:
https://github.com/AdoptOpenJDK/run-aqa/runs/1566377410?check_suite_focus=true

[code]

[2020-12-17 19:14] sophia-guo commented on #62
[code]

@llxia @LongyuZhang idea?

[2020-12-17 20:29] llxia commented on #62
It looks like the mirror site cannot be found:  https://mirror.umd.edu/eclipse/equinox/drops/S-4.18M1a-202010120320/org.eclipse.osgi_3.16.100.v20200904-1304.jar

[2020-12-17 21:28] llxia commented on #62
@sophia-guo It may be better to use [Jenkins job](https://ci.adoptopenjdk.net/job/test.getDependency/lastSuccessfulBuild/artifact/) to pre-download artifacts. Otherwise, run-aqa will depend on each 3rd party jar downloading.

[2020-12-17 22:15] theresa-m commented on #49
hotspot removed `java.lang.invoke.VarHandle` `equals` and `hashCode` implementations for Java 12. https://bugs.openjdk.java.net/browse/JDK-8215648

These tests rely on the implementation of these methods. I will open a pull request to remove `equals` and `hashCode` from OpenJ9 as well and correct the tests.

[2020-12-18 13:56] smlambert commented on #52
https://github.com/eclipse/openj9/pull/11471 is merged, this should be resolved.

[2020-12-18 15:14] sophia-guo commented on #52
Yes, we should. I'd like to close the issue when the nightly jobs show the test is good. Current [nightly openj9 functional jobs fails](https://github.com/AdoptOpenJDK/run-aqa/issues/62) at compiling stage.  Not sure when it will be good. Close this for now if anything shows up we can reopen it.

[2020-12-18 15:14] #52 closed

[2020-12-18 15:16] sophia-guo commented on #61
https://github.com/AdoptOpenJDK/run-aqa/runs/1572889491?check_suite_focus=true. Close this.

[2020-12-18 15:16] #61 closed

[2020-12-18 16:27] sophia-guo commented on #58
With v1 it should be fixed. Close it.

[2020-12-18 16:27] #58 closed

[2020-12-18 16:36] sophia-guo commented on #60
Looks like it's intermittent or it's fixed in latest build:
https://github.com/AdoptOpenJDK/run-aqa/runs/1572889397?check_suite_focus=true

[2020-12-21 22:50] theresa-m commented on #49
The fix has been merged https://github.com/eclipse/openj9/pull/11521

[2020-12-22 14:21] sophia-guo commented on #62
Fixed by https://github.com/AdoptOpenJDK/TKG/pull/134. Close it.

[2020-12-22 14:21] #62 closed

[2020-12-22 14:47] sophia-guo commented on #49
Passed in https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox/175/
and
https://github.com/sophia-guo/runaqaTest/actions/runs/438245047

[2020-12-22 14:47] #49 closed

[2020-12-22 16:01] sophia-guo commented on #57
Tests passed in https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk8_j9_sanity.functional_x86-64_mac/60/, which was triggered by upstream nightly build.

run-aqa run against the nightly build SDK by AdoptOpenJDK API 3, which stays as 20201208_800 and failed: https://adoptopenjdk.net/nightly.html?variant=openjdk8&jvmVariant=openj9

 Eclipse OpenJ9 VM (build openj9-0.24.0-m1, JRE 1.8.0

[2020-12-22 16:01] #57 closed

[2020-12-22 19:00] sophia-guo commented on #60
Continually passed. Close it.

[2020-12-22 19:07] sophia-guo opened #63 "JCL_Test_SE80 failed with openj9, jdk8 on all git-hub runners"
Newly enabled Tests JCL_Test_SE80_0|1|2 by adding environment variable SPEC failed.
https://github.com/AdoptOpenJDK/run-aqa/runs/1591270101?check_suite_focus=true

[code]

[2020-12-22 19:20] sophia-guo commented on #63
Duplicate of https://github.com/eclipse/openj9/issues/11399. Will wait and see if it's fixed by next available nightly.

[2020-12-23 04:43] smlambert commented on #57
An issue should get raised at https://github.com/AdoptOpenJDK/openjdk-api-v3/issues to report the problem that its not been serving up nightly builds, (serving some build that is from 2 weeks ago?).

[2020-12-23 15:20] sophia-guo commented on #60
https://github.com/AdoptOpenJDK/run-aqa/runs/1597079936?check_suite_focus=true

happened again. reopen.

[2020-12-23 17:18] sophia-guo commented on #57
Issue opened at api-v3 https://github.com/AdoptOpenJDK/openjdk-api-v3/issues/337

[2020-12-23 19:42] sophia-guo commented on #60
Also happened to openj9 15 windows: https://github.com/AdoptOpenJDK/run-aqa/runs/1597080093?check_suite_focus=true

Test is TEST: java/util/regex/NegativeArraySize.java under jdk_util_j9. Same error:

[code]

[2020-12-23 19:43] sophia-guo commented on #60
Rerun in AdoptOpenJDK looks fine. https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox/179/

[2021-01-04 22:17] sophia-guo commented on #50
Looks like it's not related with https://github.com/eclipse/openj9/pull/11085. Tried with the jdk from Oct 30 and get the same issue with run-aqa.

In Adopt tests pass on linux https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk11_j9_sanity.functional_x86-64_linux/
 and fail on mac https://ci.adoptopenjdk.net/view/Test_functional/job/Test_openjdk11_j9_sanity.functional_x86-64_mac/ wi

[2021-01-04 22:27] sophia-guo commented on #50
On ubuntu runners the failure is **Could not load dump file and/or could not load XML file: null**. Checking the uploaded test results we can see the file j9core.dmp exists but its empty( size ZERO).

On macos runners the failures is **Image file '/Users/runner/work/runaqaTest/runaqaTest/openjdk-tests/TKG/test_output_16097963089553/cmdLineTester_callsitedbgddrext_openj9_0/j9core.dmp' not found.**

[2021-01-05 00:41] pshipton commented on #50
@sophia-guo you can try running `java -Xcheck:dump` on the machine. https://www.eclipse.org/openj9/docs/xcheck/#dump

[2021-01-05 21:13] sophia-guo commented on #50
Thanks @pshipton . Yes, I did get following message by running with -Xcheck:dump on ubuntu runner:

[code]

So would try disabling **ABRT**.

[2021-01-05 21:20] sophia-guo commented on #50
On mac runner:

create the core file:
[code]

[2021-01-05 21:36] pshipton commented on #50
Seems to me that Mac signed builds (as produced by Adopt) can't create core files when running on newer OSes (10.15+ ?)

[2021-01-05 21:47] pshipton commented on #50
For Ubuntu, the doc suggests checking `/var/log/apport.log`

[2021-01-05 22:16] sophia-guo commented on #50
All mac runners are 10.15+ https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners.

However same issue happened in AdoptOpenJDK:  https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.functional_x86-64_mac/74/consoleFull and the mac is labeled as **https://ci.adoptopenjdk.net/label/macos10.10/** , which looks like is 10.10.

[2021-01-05 22:29] pshipton commented on #50
OpenJ9 doesn't have any 10.10 machines so we can't compare, they are all 10.11, 10.13, 10.14.

@jdekonin are you aware of any configuration settings that need to be done on Mac in order to get proper core files?
Similar question for Ubuntu where the core file is zero size. In theory it's not the ulimit since `-Xcheck:dump` should have flagged that.

[2021-01-05 22:31] smlambert commented on #50
not sure if related: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1282

[2021-01-06 14:09] jdekonin commented on #50
As @smlambert mentioned in the previous comment and related issue, I had found that the user needed to be granted permissions to write to the `/cores` folder on osx.

https://developer.apple.com/library/archive/technotes/tn2124/_index.html; search `Core Dumps`

[2021-01-06 14:56] lumpfish commented on #59
Also seen on AdoptOpenJDK jdk15 nightly build: https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_sanity.openjdk_x86-64_linux/150/console
Testing on docker images has just been introduced for the AdoptOpenJDK x86_linux builds -I cannot find an instance of this failure on a non docker test.
Was the test failure reported in this issue also running on docker?

[2021-01-06 17:13] sophia-guo commented on #50
@pshipton The file /var/log/apport.log is empty. So I tried to disable the apport looks good. https://github.com/sophia-guo/runaqaTest/runs/1657422047?check_suite_focus=true

[2021-01-06 17:23] sophia-guo commented on #59
@lumpfish it's running on git-hub runner, shouldn't be docker.

[2021-01-07 16:34] sophia-guo commented on #50
Looks like there are two different issues here with Macos.

In Adopt environment there is no issues about permission. I have tried to modify the tests to directly create the dmp file to /cores/j9core.dmp and jdumpview the file and looks good on both mac 10.10 and mac 10.14.

https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox/197/console
https://ci.adoptopenjdk.net/view/work-in-p

[2021-01-07 16:38] sophia-guo commented on #50
In github mac runners it's different. I've tried enable the permission and tried to create the dump file to /core/j9core.dmp and the file can be found. The message is same as before  **The core file created by child process with pid = 1662 was not found. Expected to find core file with name "/cores/core.1662"**. And upload the /cores directory and shows the /cores directory is empty.

[2021-01-07 20:30] sophia-guo commented on #63
https://github.com/AdoptOpenJDK/openjdk-api-v3/issues/337 is not fixed.  However somehow the current nightly build we get is Jan 5, which works. Close this for now.

[2021-01-07 20:30] #63 closed

[2021-01-09 11:55] sxa commented on #59
This has been seen on multiple systems where `LANG` is not set to `en_US.UTF-8` (See https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1268, https://github.com/AdoptOpenJDK/openjdk-tests/issues/1705 and https://github.com/eclipse/openj9/issues/9042 for examples)

My feeling is that we should be able to run these tests on any system in any locale and if we don't we have a bug that needs

[2021-01-09 13:33] smlambert commented on #59
The test material in question is from OpenJDK.

Agree that making the test more resilient to any environment is optimal.  Historically, when we have suggested upstream OpenJDK tests contain more logic to 'do the right thing', it was met with a different philosophical approach than you have suggested.

(In a different issue regarding jdi tests where we thought tests should clean up stray processes

[2021-01-09 15:25] sophia-guo commented on #59
I'm not sure if it's the test case issue as the test never has issue with hotspot impl with the exact same environment.

[2021-01-11 15:14] sxa commented on #59
If that's true (and a quick scan through our logs suggests it's on jdk_util_j9_0 on JDK11+ - have not seen it on 8 so far) it sounds like we need to raise with OpenJ9 ... @pshipton is this something you're aware of and if it's not something obvious shall we raise an issue against OpenJ9?

[2021-01-11 16:27] pshipton commented on #59
Please open an OpenJ9 issue. I can reproduce the problem on Ubuntu (16) by exporting `LANG=C.UTF-8` and then checking the `user.language` system property, which is set to `c.u`. The problematic code is here https://github.com/eclipse/openj9-omr/blob/openj9/port/unix/j9nlshelpers.c#L120-L132, which doesn't expect `setlocale(LC_CTYPE, NULL);` to return `C.UTF-8`.

[2021-01-11 17:30] sophia-guo commented on #59
Issue opened in https://github.com/eclipse/openj9/issues/11620,

Keep this open for verification.

[2021-01-12 15:54] sophia-guo opened #67 "System test TestJlmRemoteMemoryAuth_0 failed with hotspot jdk8 on Macos"
System test TestJlmRemoteMemoryAuth_0 failed with hotspot jdk8 on Macos from Jan 8th.

[code]

Both in github runner and AdoptOpenjdk:
https://github.com/AdoptOpenJDK/run-aqa/runs/1684000536?check_suite_focus=true
https://ci.adoptopenjdk.net/view/Test_system/job/Test_openjdk8_hs_sanity.system_x86-64_mac/405/consoleFull

@lumpfish @Mesbah-Alam any idea?

[2021-01-12 16:09] sophia-guo commented on #67
same failure on window with hotspot jdk8 on github runner from Jan8th. Though no issue in AdoptOpenJDK .

[2021-01-12 16:51] sophia-guo commented on #60
Looks like both failures are intermittent and only happens to github runner environment.  Consistent to test case :
java/util/regex/NegativeArraySize.java
java/math/BigInteger/DivisionOverflow.java

[2021-01-12 17:44] lumpfish commented on #67
There is an issue already here: https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/27. It's intermittent - both openj9 and hotspot may fail in the same way.

The test case could be tweaked to allow for a (small) discrepancy between 'current' and 'peak', but there doesn't appear to be anything wrong with the test case code.  Putting effort into increasing the failure rate locally to get some

[2021-01-13 17:34] pshipton commented on #59
The OMR change has promoted, should be fixed in the next build.

[2021-01-14 14:34] sophia-guo commented on #59
Fixed. Close it.

[2021-01-14 14:35] sophia-guo commented on #59
Close by mis

[2021-01-18 01:52] sophia-guo commented on #59
Test passed. Close it.

[2021-01-18 01:52] #59 closed

[2021-01-19 19:15] sophia-guo commented on #50
@lumpfish FYI  https://github.com/AdoptOpenJDK/run-aqa/issues/50#issuecomment-756227864

[2021-02-08 15:18] sophia-guo opened #68 "Switch test with jdk15 openj9 to jdk16 openj9"
Functional tests with openj9 jdk15 get compiling errors. We need to switch tests from openj9 jdk15 to openj9 jdk16. hotspot jdk16 may not be available yet https://github.com/AdoptOpenJDK/build-jdk/issues/21.

nightly jdk is available:
https://api.adoptopenjdk.net/v3/binary/latest/16/ea/linux/x64/jdk/openj9/normal/adoptopenjdk
https://api.adoptopenjdk.net/v3/binary/latest/16/ea/linux/x64/jdk/hotspo

[2021-02-08 16:24] sophia-guo commented on #68
openjdk sanity jdk_foreign_0_FAILED with both hotspot and openj9

[code]

https://github.com/sophia-guo/runaqaTest/runs/1855868851?check_suite_focus=true

[2021-03-04 19:30] sophia-guo commented on #68
Closed by #69

[2021-03-04 19:30] #68 closed

[2021-03-04 21:05] sophia-guo opened #71 "Both openjdk tests with ubuntu and mac failed when retrieving jdk source"
Both openjdk tests with ubuntu and mac failed when retrieving jdk source: https://github.com/AdoptOpenJDK/run-aqa/runs/2025584017?check_suite_focus=true

[code]

The failure is caused by the change https://github.com/AdoptOpenJDK/openjdk-tests/pull/2287

[2021-03-04 21:06] sophia-guo commented on #71
@adamfarley Could you please take a look?

[2021-03-05 02:03] sophia-guo commented on #71
Before the change job works fine on linux and macos, hangs on windows when retrieving openjdk source:
https://github.com/AdoptOpenJDK/run-aqa/runs/2007503879?check_suite_focus=true
[code]

With the change job on windows works, failed on both linux and macos.

[2021-03-05 10:18] adamfarley commented on #71
Aw. :(

Will fix. Looking now.

[2021-03-05 14:04] adamfarley commented on #71
Ok, this should fix it: https://github.com/AdoptOpenJDK/openjdk-tests/pull/2338

Proven to work: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/7489/console

[2021-03-05 14:06] adamfarley commented on #71
I thought the trycatch was needed originally, as there was a reason for the failonerror to be set to true in the inner exec, but in hindsight I think that was just left over from something else.

[2021-03-08 12:09] adamfarley commented on #71
@sophia-guo - Since the change is merged, can you confirm the problem is gone and close this issue please?

[2021-03-08 12:35] sophia-guo commented on #71
Last run sha is b12a4926191e867b4ed8f5c9a598700fce8c66f7, which hasn't have @adamfarley your changes and failed with same issue. https://github.com/AdoptOpenJDK/run-aqa/runs/2042869858?check_suite_focus=true.

Will wait for today's run and see if it works or not.

[2021-03-08 17:16] sophia-guo opened #72 "Auto approve and merge pull requests by Dependabot using Github actions"
Dependabot auto creates PR to update github actions dependency version. https://github.com/AdoptOpenJDK/run-aqa/pull/31

Same request for other github actions: [AdopOpenJDK/build-jdk,](https://github.com/AdoptOpenJDK/build-jdk) [Eclipse/build-openj9](https://github.com/eclipse/build-openj9)

We'd like to approve and merge the pull requests raised by Dependabot. Looks like it's easy to do as there

[2021-03-08 17:19] sophia-guo commented on #72
https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates
https://docs.github.com/en/github/administering-a-repository/keeping-your-actions-up-to-date-with-dependabot

[2021-03-09 21:42] sophia-guo commented on #71
@adamfarley thanks! I can confirm that the error is fixed.

[2021-03-09 21:42] #71 closed

[2021-03-25 20:16] sophia-guo opened #73 "All system.sanity jobs failed in nightly workflow"
All system.sanity jobs failed in nightly workflow due to the `stderr Exception in thread "main" net.adoptopenjdk.stf.StfException: Note: file 'mauve/mauve.jar' could not be found in any of the supplied test roots: '/home/runner/work/run-aqa/run-aqa/jvmtest/system/systemtest_prereqs'`

Same issue happens to systemtest.getDependency
https://ci.adoptopenjdk.net/view/all/job/systemtest.getDependency/1

[2021-03-25 20:17] sophia-guo commented on #73
For run-aqa, we will add one step to download dependencies from [systemtest.getDependency](https://ci.adoptopenjdk.net/view/all/job/systemtest.getDependency) and [test.getDependency](https://ci.adoptopenjdk.net/view/all/job/test.getDependencyy)

[2021-03-25 20:48] Mesbah-Alam commented on #73
The error is here:

[code]

The job is failing to download the cvsclient which is used to checkout mauve source.

I'll dig out the reason why cvsclient fails to download.

[2021-03-25 20:54] Mesbah-Alam commented on #73
It's because netbeans website has stopped hosting `org-netbeans-lib-cvsclient.jar` !

Following file no longer exists:

https://netbeans.apache.org//projects/versioncontrol/downloads/download/org-netbeans-lib-cvsclient.jar

We need to figure out where we can obtain org-netbeans-lib-cvsclient.jar from.

[2021-03-26 12:08] lumpfish commented on #73
Looks like there is a copy in the maven repository here: https://repo1.maven.org/maven2/org/netbeans/lib/cvsclient/20060125/cvsclient-20060125.jar

[2021-03-26 14:36] Mesbah-Alam commented on #73
Thanks @lumpfish for pointing out an alternative location for the jar. I've asked for your review in the related PR.

[2021-03-26 16:40] #73 closed

[2021-03-26 16:46] Mesbah-Alam commented on #73
@sophia-guo : the issue has been resolved: https://ci.adoptopenjdk.net/view/all/job/systemtest.getDependency/139/

[2021-03-30 14:04] sophia-guo opened #75 "Jobs sanity.system with openj9 jdk11, jdk16 were cancelled due to exceed the maximum execution time of 360 minutes"
Jobs sanity.system with openj9 jdk11, jdk16 were cancelled due to exceed the maximum execution time of 360 minutes.
<img width="755" alt="Screen Shot 2021-03-30 at 10 02 10 AM" src="https://user-images.githubusercontent.com/18030625/113001958-5467fb80-913f-11eb-99e1-5d1f56732bde.png">

[2021-03-30 14:11] smlambert commented on #75
Either need to run in parallel or reduce and only run 1 or 2 key targets from sanity.system which is perhaps the right path for now to 'save' on minutes in total (not just to avoid hitting the single run max minutes)

[2021-03-31 15:55] smlambert opened #76 "Add code of conduct, contributors and notice file"
Similar to https://github.com/adoptium/aqa-test-tools/pull/380, we need to add these files to the run-aqa repo as well.

[2021-03-31 20:48] #76 closed

[2021-04-01 21:50] sophia-guo opened #79 "Update repo AdoptOpenJDK/TKG to Adoptium/TKG"
AdoptOpenJDK/TKG has been moved to Adoptium/TKG. run-aqa need to update reference to TKG repo

[2021-04-01 22:00] sophia-guo opened #80 "external tests can't get DOCKERIMAGE_TAG set"
external tests can't get DOCKERIMAGE_TAG set, which caused

[code]
https://github.com/sophia-guo/runaqaTest/runs/2249127830?check_suite_focus=true

Need to investigate why the if condition( which should set dockerImageTag=nighlty) doesn't work https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/external/build.xml#L28

[2021-04-06 15:53] sophia-guo commented on #80
`DOCKERIMAGE_TAG` works as an environment variable for external tests. For test build stage if no `DOCKERIMAGE_TAG` set [ `nightly` is used as default](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/external/build.xml#L34).  For test running `DOCKERIMAGE_TAG` is specifically used as [a  shell script parameter](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/external/camel/play

[2021-04-06 16:00] sophia-guo commented on #80
[Currently locally run with external tests manual may not work](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/external/README.md#running-external-tests-locally). The fix will also need to update the readme

[2021-04-06 18:22] sophia-guo commented on #80
Fix is in https://github.com/AdoptOpenJDK/openjdk-tests/pull/2462.

Re https://github.com/adoptium/run-aqa/issues/80#issuecomment-814237556

Based on the current fix no need to update Readme.

[2021-04-07 14:03] karianna commented on #80
@sophia-guo so this can be closed?

[2021-04-07 14:22] sophia-guo commented on #80
Yes, it can be closed.

[2021-04-07 14:22] #80 closed

[2021-04-27 22:40] smlambert opened #81 "Add support for VENDOR_TEST_REPOS/BRANCHES/SHAS/DIRS parameters"
We have the notion of laying down other repos outside of those in the AQA set.  This allows vendors to use AQA tools and overlay additional tests they have.  We also use this mechanism to add buildAndPackaging smoke tests from the build repo.

This issue is a feature request to support the use of VENDOR_TEST_REPOS, VENDOR_BRANCH, VENDOR_TEST_BRANCHES, VENDOR_TEST_SHAS, VENDOR_TEST_DIRS where each

[2021-04-29 21:07] sophia-guo commented on #81
To support those parameters we can just set those parameters as the run-aqa action inputs and  pass them to `function runGetSh`, which will call get.sh to handle the setup. The only thing need to be careful is users need to make sure comma-separated list of strings in the correct order.

[2021-06-08 15:34] sophia-guo opened #88 "Remove the repos default values as a check"
Default values for repos are used as a check, which is unnecessary. Will remove them and add an example as description.

[2021-06-16 16:11] #79 closed

[2021-06-16 16:11] #81 closed

[2021-06-16 16:13] gdams commented on #81
@smlambert now this is complete, what are the steps to add this to the temurin-build action?

[2021-06-16 16:16] sophia-guo commented on #81
@gdams it's in this PR https://github.com/adoptium/temurin-build/pull/2660

[2021-06-30 19:07] sophia-guo opened #92 "Add option to support jdk repo and branch"
Currently run-aqa run  latest openjdk tests  for all jdks. That is [jdk8](https://github.com/adoptium/jdk8u) for all hotspot jdk8. Similar to all other version and all openj9 jdk.

It would be nice if we add option to support jdk repo and branch so we can run each jdk's corresponding tests.

The change would be similar to how we add the openj9 option.

[2021-06-30 19:27] sophia-guo opened #93 "Add option to pass in adoptium aqa-systemtest repo and branch"
Currently we are using the default aqa-systemtest master branch for jck and system tests. It would be nice to add adoptium aqa-systemtest repo and branch as option. So run-aqa action can also be used as the part of aqa-systemtest  developer's PR tests.

[2021-06-30 19:31] sophia-guo opened #94 "Add option to pass in openj9 systemtest repo and branch"
Currently we are using the default [eclipse-openj9/openj9-systemtest ](https://github.com/eclipse-openj9/openj9-systemtest) to run against openj9 java implementation. It would be nice to add eclipse-openj9/openj9-systemtest  repo and branch as options. So run-aqa action can also be used as the part of eclipse-openj9/openj9-systemtest  developer's PR tests.

[2021-07-30 14:30] sophia-guo opened #95 "update as get.sh does not have --testdir|-t parameter"
Related with https://github.com/adoptium/aqa-tests/issues/2691

[2021-09-22 14:17] smlambert opened #98 "Update workflow yml files to replace jdk16 with jdk17"
In yaml files inside of https://github.com/adoptium/run-aqa/blob/master/.github/workflows
where ever we reference jdk16, we should switch to jdk17

Example: https://github.com/adoptium/run-aqa/blob/master/.github/workflows/sanity.yml#L13
should be changed to `version: [8, 11, 17]`

[2021-09-24 18:56] sophia-guo commented on #95
Looks like we don't need to update as we don't use that option parameter, close for now.

[2021-09-24 18:56] #95 closed

[2021-09-30 18:44] smlambert commented on #93
To clarify, will the work that is required for this be similar to the work done for adding openjdk_testRepo options ( in #28  )?

[2021-10-01 16:24] keerthi-kamath commented on #98
I would love to work on this!

[2021-10-01 17:00] smlambert commented on #98
Great!  thanks @keerthi-kamath !

[2021-10-01 17:19] #98 closed

[2021-10-01 18:00] bhuva-v commented on #92
I'ld like to work on this. Thanks

[2021-10-01 18:30] smlambert commented on #92
Great @bhuva-v !

[2021-10-01 18:48] somya-15 commented on #94
Can I (Somya-15) and Nandini(nandini-4120) be assigned this issue. We are willing to collaborate on this issue.

[2021-10-01 21:12] Vindiya commented on #93
#102 here's my PR for this issue

[2021-10-01 22:47] smlambert commented on #92
I will note that these are the instructions for generating the changes for index.js
https://github.com/actions/typescript-action#code-in-main
`npm run build && npm run package`

[2021-10-01 22:58] bhuva-v commented on #92
npm run build && npm run pack

[2021-10-02 14:03] smlambert commented on #94
I can assign you if you make a comment in the issue,  @nandini-4120

[2021-10-02 14:05] smlambert commented on #94
Note the solution to this will be similar to PR #102 and PR #103

[2021-10-03 10:12] Nandini-4120 commented on #94
Can I Nandini(nandini-4120) be assigned this issue? Somya and me are willing to collaborate on this issue.

[2021-10-04 16:46] sophia-guo opened #104 "system tests failed when doing git clone."
system tests failed when doing clone_stf.
https://github.com/adoptium/run-aqa/runs/3760603607?check_suite_focus=true

[code]

May be related with  https://github.com/adoptium/aqa-tests/pull/2895/files

[2021-10-04 21:26] smlambert commented on #104
I think this has been failing for a while...  and may be related to the fact that the actual github repo is 'STF' uppercase while the script references 'stf' lowercase.  I believe it may have been github.com/adoptopenjdk/stf and when we transferred it to github.com/adoptium/STF we made the acronym uppercase (to match the same approach we have with TKG).

[2021-10-06 18:16] sophia-guo commented on #104
https://github.com/adoptium/aqa-tests/issues/2949

[2021-10-06 18:44] sophia-guo opened #105 "Remove the default value of aqa-systemtestsRepo"
The default value of aqa-systemtestsRepo is set in [aqa-tests/system/common.xml](https://github.com/adoptium/aqa-tests/blob/master/system/common.xml#L19). It is unnecessary to reset it. That is we can deleted this line: https://github.com/adoptium/run-aqa/blob/master/action.yml#L26

With the default value of aqa-systemtestsRepo removed it would be better to call function getAqaSystemTestsRepo() on

[2021-10-06 19:01] sophia-guo opened #106 "Enhance the function parseRepoBranch() to do format checks"
We will keep add related repos as options. parseRepoBranch() will be used heavily. We'd like to enhance the function to do some format check to find the illegal parameters at the early stage.

parseRepoBranch() is expected the parameter has the format as `octocat/projectnames:branch`. It's nice to check if the string has one `/` and one`:`.  This way we will find the problem right away instead of

[2021-10-10 06:45] Aaradhyaa717 commented on #105
Hi, I would like to work on this one.

[2021-10-12 20:06] sophia-guo opened #109 "Add option to support stf repo and branch"
Currently run-aqa run system tests with latest [STF](https://github.com/adoptium/STF).

It would be nice if we add option to support stf repo and branch so we can run system tests with specified stf version.

We could do this ether by passing the environment variable or adding the options. Adding the options would be more easy and clear. Similar to the  PR  #103. The environment variable is env.ST

[2021-10-17 15:18] SehrishHussain commented on #109
@akanbifatimah hi, I went through your PR and left a comment. Let me know if you need help.

[2021-10-25 15:58] sophia-guo opened #113 "update typos for aqasystemtestsRepo"
There are two typos for aqasystemtestsRepo, which was typed as aqa-systemtestsRepo.  Due to https://github.com/adoptium/run-aqa/issues/104 we didn't notice this issue early.

`aqa-systemtestsRepo` should be replaced as  `aqasystemtestsRepo` in https://github.com/adoptium/run-aqa/blob/master/src/runaqa.ts#L63

[2021-10-29 16:37] sophia-guo opened #115 "Update function parseRepoBranch()"
Originally the function parseRepoBranch() consume strings `octocat/aqa-tests:test` and return the repo `octocat/aqa-tests` and branch 'test'.
User will use the return `repoBranch` to generate the git url like `--tkg_branch ${repoBranch[1]} --tkg_repo https://github.com/${repoBranch[0]}.git`.

We'd like to enhance the parseRepoBranch() to include the git url generation logic.

[2021-11-02 19:44] #113 closed

[2021-12-06 21:09] sophia-guo opened #118 "Update Readmeupported more parameters readme need to update."
Update Readme as more parameters are supported, which can be based on the latest [action.yml](https://github.com/adoptium/run-aqa/blob/master/action.yml). The new Readme is v2.

[2022-01-21 03:39] sophia-guo commented on #67
same https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.system_arm_linux/127/console

[2022-01-22 16:23] smlambert commented on #94
related: https://github.com/adoptium/run-aqa/pull/107

[2022-02-10 16:51] smlambert opened #119 "Remove nightly openj9 testing while we do not have fresh nightly/EA builds."
This issue describes that there is no longer a nightly openj9 build available to test, so we should remove it from the nightly test matrix.  To resolve this issue, remove openj9 from https://github.com/adoptium/run-aqa/blob/master/.github/workflows/sanity.yml#L14

Symptoms of this issue show an on-going nightly run-aqa workflow failure:

[sanity (ubuntu-latest, 17, openj9, functional)](https://git

[2022-02-10 17:41] smlambert opened #120 "Remove nightly jobs that can not finish within 360 minutes"
Review the list of tests running in a recent nightly sanity run and remove test targets that can not complete in time:
https://github.com/adoptium/run-aqa/actions/runs/1820320643

Example:
[sanity (ubuntu-latest, 11, openj9, openjdk)](https://github.com/adoptium/run-aqa/runs/5131618821?check_suite_focus=true)
The job running on runner GitHub Actions 12 has exceeded the maximum execution time of 36

[2022-02-10 18:02] smlambert commented on #119
Right, so we should update this issue to turn off nightly testing for OpenJ9, because we can not get a nightly build of it (for now).  We could run against a release build which is still being published to AdoptOpenJDK and is available as Semeru Open Edition, but makes no sense to repeat testing nightly on something that is not changing.

[2022-02-10 18:04] #120 closed, assigned to nobody

[2022-02-14 15:13] sophia-guo commented on #119
Also might just move to https://github.com/actions/setup-java

[2022-02-14 15:16] sophia-guo opened #122 "Moving to github setup-java action to install jdk"
github setup-java action is using temurin build. We will probably move to that for installation of jdk step. If looks fine, probably also update aqa-tests, TKG workflow too.

[2022-02-28 20:20] smlambert commented on #94
The PR https://github.com/adoptium/run-aqa/pull/107 was closed without being merged.  Un-assigning and putting it back into the list of open / available good first issues.

[2022-03-01 18:47] #106 closed

[2022-03-03 15:20] somya-15 commented on #94
Can I (Somya-15) and Nandini(nandini-4120) be assigned this issue again as we are planning to make a fresh pull request and start over again.

[2022-03-07 16:51] smlambert opened #125 "Add support for PARALLEL=Dynamic in run-aqa Github action"
I would like to investigate adding optional support for PARALLEL=Dynamic to the run-aqa action.

There is underlying support in TKG for different PARALLEL modes (Dynamic, Subdir, NodesByIterations).  Only one of those modes makes sense for run-aqa at this time.

PARALLEL=Dynamic but _not_ with NUM_MACHINES, but rather with TEST_TIME  for time based restrictions instead.

There is an upper limit of

[2022-03-23 12:43] abhijeetjejurkar commented on #119
Hii , I would like to work on this?

[2022-03-26 23:27] #119 closed

[2022-06-08 13:47] llxia opened #129 "run aqa should git clone into a specific folder"
In run aqa, only `aqa-tests` folder name is expected. However, for users that are still using the old repo `openjdk-tests`, run aqa will fail. run aqa should git clone into a specific folder, so it does not matter which repo the users are using.

https://github.com/adoptium/aqa-tests/runs/6781124235?check_suite_focus=true

[code]

[2022-08-11 13:21] zdtsw opened #133 "Investigation: upgrade to use windows-2019/windows-2022/windows-latest"
In the past we were using windows-2016 but it is not supported by GH any more, thus any job tries to run on it got queued and eventually timeout.

It would be good to know
1. what was the problem that we cannot run run-aqa or aqa-tests on windows-2019 etc
2. try to find a way to make aqa-tests /run-aqa working on windows-2019 etc
3. this would help e.g temurin build to upgrade to newer version of

[2022-08-11 14:26] zdtsw commented on #133
see error logs when try to use windows-latest from https://github.com/adoptium/run-aqa/pull/131

[2022-08-15 14:00] zdtsw commented on #133
one thing can be checked is, if cygwin works with any windows version over 2016

[2022-08-24 13:22] karianna opened #135 "Add PR Builder checks / tests to run a subset of AQA runs for when we make changes to this repo."

[2022-08-25 03:08] smlambert opened #136 "Windows nightly testing is not running"
We need to upgrade from Windows-2016.

In the immediate term, we can remove that platform from the test [matrix](https://github.com/adoptium/run-aqa/blob/master/.github/workflows/sanity.yml#L12).

In the near term, we will have to look at moving to a newer, available github runner option to cover that platform.

[2022-09-28 15:36] smlambert commented on #125
https://github.com/adoptium/run-aqa/pull/130 from @j-braley addresses this, thanks Joe!

Additional enhancements may follow, but we can close this issue for now.

[2022-09-28 15:36] #125 closed

[2022-10-05 20:36] sophia-guo opened #138 "[jdk8]: jdk_util failed on ubuntu"
Two jdk_util tests failed

java/util/TimeZone/Bug6329116.java

[code]

java/util/TimeZone/AssureTzdataVersion.java

[code]

[2022-10-05 20:40] sophia-guo opened #139 "[jdk11]: two java_lang tests failed on ubuntu"
[jdk11]: two java_lang tests failed on ubuntu with message `TEST RESULT: Error. Use -nativepath to specify the location of native code

java/lang/String/nativeEncoding/StringPlatformChars.java
java/lang/ClassLoader/nativeLibrary/NativeLibraryTest.java

The reason might be testimage is missing?

[2022-10-06 14:01] sophia-guo opened #140 "[jdk17]: 15 failures in jdk_foreign target"
[code]
Most of them are related with access java.library.path. For exampe:

`An error occurred while instantiating class TestVirtualCalls: no Virtual in java.library.path: /usr/java/packages/lib:/usr/lib64:/lib64:/lib:/usr/lib`

`An error occurred while instantiating class VaListTest: no VaList in java.library.path: /usr/java/packages/lib:/usr/lib64:/lib64:/lib:/usr/lib`

`TEST RESULT: Failed. Exe

[2022-10-06 14:23] sophia-guo commented on #136
Windows runner has been updated from windows-2016 to windows-latest with known issues.

[2022-10-06 14:45] sophia-guo opened #141 "Issues with windows runner - windows-latest"
windows-2016 is not supported any more. We'd like to update to windows-latests.

The issue with windows-latests:

- Originally openjdk, system tests will fail at the beginning part of the build with message  `C:\cygwin64\bin\make.exe' failed with exit code 2` with all jdk_version , which suggests it might be an issue related with cygwin on windows-latest.
[code]

https://github.com/adoptium/run-aq

[2022-10-06 15:54] sophia-guo commented on #141
The current issue only happened to jdk8 and jdk11, which don't have the repo `https://github.com/adoptium/jdk8` or `https://github.com/adoptium/jdk11`.  jdk17 does have the repo `https://github.com/adoptium/jdk17`.

Need to see the step of `C:\cygwin64\bin\git.exe clone --depth 1 -q --reference-if-able D:\a\run-aqa\run-aqa/openjdk_cache https://github.com/adoptium/jdk8.git openjdk-jdk`

[2022-10-19 14:57] sophia-guo commented on #141
Current failure was caused by the workaround to git clone system and openjdk material, which is git clone jdk with wrong  repo  https://github.com/adoptium/jdk${version}.git.
https://github.com/adoptium/run-aqa/blob/fa4002f1e9e10f419d2c1771f346ec4b6c04de93/src/runaqa.ts#L290-L294

Update https://github.com/adoptium/jdk${version}.git to https://github.com/adoptium/jdk${version}u.git can fix this is

[2022-10-20 20:18] sophia-guo commented on #141
Remove the workaround the failure would be the same as https://github.com/adoptium/run-aqa/actions/runs/3016813951/jobs/4849941896.  job failed as no bash available. Github runner windows-latest has [Bash 5.1.16(1)-release] installed (https://github.com/actions/runner-images/blob/main/images/win/Windows2022-Readme.md). With Cygwin running bash it looks good `C:\cygwin64\bin\bash.exe ./get.sh --sdk

[2022-10-31 16:02] sophia-guo commented on #122
setup-java has been supported https://github.com/adoptium/run-aqa/issues/122.
cusotmized jdk is supported by both setup-java https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#installing-java-from-local-file and run-aqa itself https://github.com/adoptium/run-aqa/pull/117 ( might need to update to using one way -setup-java)
Openj9 has been removed https://github.com/adoptium/run

[2022-10-31 16:06] sophia-guo commented on #122
Need to think about moving the cusotmized jdk functionality in run-aqa to setup-java to reduce the redundancy and make the run-aqa fucntionality clearer. Though it is not related with this issue.

[2022-10-31 20:34] ultramancoder commented on #122
Hi! I'd like to work on this. The setup-java action does not provide a way to install nightly builds directly AFAIK. To use nightly builds, those should be downloaded first and then the path be passed to setup-java action. Does that sound correct?

Or should I just move the workflow to use setup-java with stable buidls?

[2022-11-03 08:40] ultramancoder commented on #141
Hi! According to my (limited) understanding, ProcessBuilder passes the command as `bash`. Internally that'll invoke CreateProcess apis of windows which resolve the path using logic here: https://learn.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessa#parameters . As we can see cygwin dirs or the PATH is not searched to resolve the command to run.

However,

[2022-11-05 12:58] smlambert commented on #141
Our Jenkins nodes are setup using Ansible playbooks (found in the infrastructure repository https://github.com/adoptium/infrastructure/blob/master/ansible/playbooks/AdoptOpenJDK_Windows_Playbook/main.yml).

[2022-11-05 20:12] ultramancoder commented on #141
Thanks for the link, @smlambert.

Another thing I just noticed is that the `functional` tests do pass on windows. For instance see, https://github.com/adoptium/run-aqa/actions/runs/3380432551/jobs/5613604498.

Note that these logs have the same WSL error message mentioned earlier in this issue and the one we can also see in `system` tests that fail on windows-latest. Therefore, I think the WSL err

[2022-11-05 20:35] smlambert commented on #141
thanks for digging into it @ultramancoder !

[2022-11-06 11:20] ultramancoder commented on #141
Hi again! I looked at https://github.com/adoptium/infrastructure/blob/master/ansible/inventory.yml to find what windows server adoptium's temurin builds were using.

Github's windows-latest points to Windows 2022 server.  In adoptium's windows build farm, there are mostly Windows 2012 servers, a few Windows 2016 Servers and 1 Windows 2019 server. Since there are no Windows 2022 servers there, this

[2022-11-06 11:27] ultramancoder commented on #141
I also looked into reproducing the errors locally and it does fail there as well. I modified the `makefile`s to change `ant` to `ant -v` to get more verbose logs. Where it failed for me was https://github.com/adoptium/aqa-tests/blob/66436e6253ac9dd65a9fbc6cd5ad0e258df34ed4/external/build_image.sh#L69. docker was unable to recognise `/cygdrive` paths, passing the file paths through `cygpath -w` mad

[2022-11-10 08:09] ultramancoder commented on #141
Hi! One more interesting development, some checks pass on windows-latest when impl is switched to hotspot instead of openj9 in the workflow. https://github.com/ultramancoder/run-aqa/actions/runs/3434222084/jobs/5725336952 . The ones that fail, fail on all platforms with an error about test groups.